{% extends "admin_custom/base.html" %}

{% block content %}
<head>
   <style>
     body {
    font-family: "poppins", sans-serif;
    font-weight: initial;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    margin-top: 0px;
    flex-wrap: wrap;
  }
   </style>
</head>
           <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card1">
                                    <div class="search-col">
                                        <div class="search">
                                            <i class="fas fa-search search-icon"></i>
                                            <input type="text" placeholder="Search by article Id" class="search-input">
                                        </div>
                                    </div>
                                    <div class="go-btn-col">
                                        <div class="go-btn">
                                            <a href="article_back.html" class="go">Go</a>
                                        </div>
                                    </div>
                                </div>                 
                            </div>

                          </div> </div>
                </div>
            </div>
{% endblock %}
